<div id="app">
  <div class="app-wrapper app-wrapper-web app-wrapper-main">
    <span></span>
    <div tabindex="-1">
      <span></span>
    </div>
    <div tabindex="-1">
      <span></span>
    </div>
    <span></span><span></span>
    <div tabindex="-1" class="app two no-animation">
      <div tabindex="-1" class="drawer-manager">
        <span class="pane pane-one"></span>
        <span class="pane pane-two"></span>
        <span class="pane pane-three"></span>
      </div>
      <div id="side" class="pane pane-list pane-one">
        <header class="pane-header pane-list-header">
          <div class="pane-list-user">
            <% if current_user.id == @chat_room.booking.parking_spot.user_id %>
              <%= image_tag current_user.avatar_url, class: "avatar icon--default", style: "height: 40px; width: 40px;" %>
            <% else %>
              <%= gravatar_for @chat_room.booking.user, class: "avatar icon--default", style: "height: 40px; width: 40px;" %>
            <% end %>
          </div>
          <div class="pane-list-controls">
            <div class="menu menu-horizontal">
              <span>
                <div class="menu-item">
                  <button class="icon icon-chat"></button>
                </div>
                <div class="menu-item">
                  <button class="icon icon-menu"></button>
                    <span></span>
                </div>
              </span>
            </div>
          </div>
        </header>
        <div tabindex="-1" class="search-container">
          <div class="pane-subheader pane-list-subheader subheader-search">
            <button class="icon icon-search-morph">
              <div class="icon icon-back-blue"></div>
              <div class="icon icon-search"></div>
            </button>
            <span></span>
            <div class="input-placeholder">Search fonctionnalité</div>
            <label for="input-chatlist-search" class="cont-input-search">
              <input type="text" class="input input-search">
            </label>
          </div>
        </div>
        <div class="pane-body pane-list-body" id="pane-side">
          <div tabindex="-1" data-tab="3">
            <div class="infinite-list chatlist infinite-list-animate">
              <div class="infinite-list-viewport" style="pointer-events: auto;">
                <div class="infinite-list-item infinite-list-item-transition">
                  <div tabindex="-1" class="chat-drag-cover">
                    <div class="chat">
                      <div class="chat-avatar">
                        <% if current_user.id != @chat_room.booking.parking_spot.user_id && @chat_room.booking.user_id != current_user.id %>
                          <%= image_tag current_user.avatar_url, class: "avatar icon--default", style: "height: 40px; width: 40px;" %>
                        <% elsif current_user.id == @chat_room.booking.parking_spot.user_id  %>
                          <%= image_tag @chat_room.booking.user.avatar_url, class: "avatar icon--default", style: "height: 40px; width: 40px;" %>
                        <% else %>
                          <%= image_tag @chat_room.booking.parking_spot.user.avatar_url, class: "avatar icon--default", style: "height: 40px; width: 40px;" %>
                        <% end %>
                      </div>
                      <div class="chat-body">
                        <div class="chat-main">
                          <div class="chat-title">
                            <span class="emojitext ellipsify">

                            </span>
                          </div>
                          <div class="chat-meta">
                            <!-- <span class="chat-time">dimanche</span> -->
                          </div>
                        </div>
                        <div class="chat-secondary">
                          <div class="chat-status">
                            <span class="icon icon-status-dblcheck-ack"></span>
                            <span class="emojitext ellipsify"><%= @chat_room.booking.user.email %></span>
                          </div>
                          <div class="chat-meta">
                            <span></span><span></span><span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="main" class="pane pane-chat pane-two">
        <div class="pane-chat-tile"></div>
        <header class="pane-header pane-chat-header">
          <div class="chat-avatar">
            <% if current_user.id != @chat_room.booking.parking_spot.user_id && @chat_room.booking.user_id != current_user.id %>
              <%= image_tag current_user.avatar_url, class: "avatar icon--default", style: "height: 40px; width: 40px;" %>
            <% elsif current_user.id == @chat_room.booking.parking_spot.user_id  %>
              <%= image_tag @chat_room.booking.user.avatar_url, class: "avatar icon--default", style: "height: 40px; width: 40px;" %>
            <% else %>
              <%= image_tag @chat_room.booking.parking_spot.user.avatar_url, class: "avatar icon--default", style: "height: 40px; width: 40px;" %>
            <% end %>
          </div>
          <div class="chat-body">
            <div class="chat-main">
              <h2 class="chat-title">
                <span class="emojitext ellipsify"><%= @chat_room.booking.user.email %></span>
              </h2>
            </div>
          </div>
          <div class="pane-chat-controls">
            <div class="menu menu-horizontal">
              <div class="menu-item">
                <button class="icon icon-clip"></button>
                <span></span>
              </div>
              <div class="menu-item">
                <button class="icon icon-menu"></button>
                  <span></span>
              </div>
            </div>
          </div>
        </header>
        <div class="pane-body pane-chat-tile-container">
          <div>
            <span></span><span></span>
            <div class="pane-chat-msgs pane-chat-body lastTabIndex" tabindex="0">
              <div class="pane-chat-empty"></div>
                <div class="message-list">
                  <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
                    <%= render @chat_room.messages %>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="compose-filler" style="height: 0px;"></div>
        <footer tabindex="-1" class="pane-footer pane-chat-footer">
          <div class="block-compose">
            <button class="icon icon-smiley btn-emoji"></button>
            <div class="input-emoji">
              <div class="input"></div>
            </div>
            <div tabindex="-1" class="input-container">
              <%= form_for @message, url: '#' do |f| %>
                <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
                <%= f.text_area :body, dir: "auto", spellcheck: "true", contenteditable:"true", class: "input" %>
            </div>
            <div>
                <%= f.submit "Post", style: "position: relative;left: 21px;bottom: 10px;background: white !important;padding: 10px;border: none;" %>
              <% end %>
            </div>
            <div class="ptt-container">
              <span>
                <button class="icon btn-icon icon-ptt"></button>
              </span>
            </div>
          </div>
          <div class="compose-popup-panel-container" style="bottom: 62px;">
            <span></span><span></span><span></span>
          </div>
        </footer>
        <span></span>
      </div>
    </div>
  </div>
</div>
