<div class="container user_dashboard">
  <%= render 'cashspent' %>
  <div class="row mb2">
    <div class="col-xs-12 col-md-8 col-lg-8 py2" style="border: 1px solid grey;">
      <h2>Current bookings</h2>
        <hr>
        <% @bookings.each_with_index do |booking, index| %>
          <% if booking.start_at <= Date.today || booking.start_at > Date.today  && booking.end_at > Date.today %>
            <div class="col-md-4">
              <p><strong>Address: </strong><%= booking.parking_spot.street_address.titleize %></p>
              <p><strong>Starts: </strong><%= booking.start_at %></p>
              <p> <strong>Ends:</strong> <%= booking.end_at %></p>
              <p> <strong>Total price: </strong><%= booking.total_price %></p>
              <div class="text-danger">
              <%= link_to "Show",parking_spot_booking_path(booking.parking_spot_id, booking.id),  class: "btn btn-primary" %>
              <%= link_to "Chat",booking_chat_rooms_path(booking.id),  class: "btn btn-primary", target: "_blank" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <hr>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4 py2" style="border: 1px solid grey;">
      <h2>Previous bookings </h2>
      <hr>
      <% current_user.bookings.each do |booking| %>
        <% if booking.start_at < Date.today && booking.end_at < Date.today %>
          <p>  <%= booking.user.first_name %> </p>
          <p>  <%= booking.parking_spot.street_address.titleize %> </p>
          <p>  <%= booking.start_at %> </p>
          <p>  <%= booking.end_at %> </p>
          <%= link_to "Leave a review", new_booking_review_path(booking), class: "btn btn-primary" %>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="digg_pagination">
        <%= will_paginate @bookings %>
      </div>
    </div>
  </div>

</div><!-- end container -->


