<div class="container text-center mt6">
<h1>Your bookings</h1>
<% @user.bookings.each do |booking| %>
  <hr>
  <button type="button" class="btn btn-primary disabled"><%= link_to 'Show', parking_spot_booking_path(booking.parking_spot_id, booking.id)  %></button>
  <p><strong>Address: </strong><%= booking.parking_spot.street_address %></p>
  <p><strong>Starts on the: </strong><%=booking.start_at %></p>
  <p> <strong>Ends on the:</strong> <%=booking.end_at%></p>
  <p> <strong>Your booking total price is: </strong><%=booking.total_price%></p>
  <div class="text-dange"'>

   <button type="button" class="btn btn-primary disabled"><%= link_to "Chat", booking_chat_rooms_path(booking)%></button>
  <button type="button" class="btn btn-primary disabled"><%= link_to 'Leave a review', new_booking_review_path(booking)%></button>
  </div>
  <% end %>
  <hr>
</div>

