<br>
<div class='text-center' style="background:white;">
  <h1>Hello <%= @user.email %>?</h1>
  <h2>Welcome to your Dashboard</H2>

  <% if @user.bookings.empty? %>
      <p>You haven't booked any parking spots</p>
      <%= link_to "Check all our parking spots !", parking_spots_path, :class => "btn btn-info"  %>
  <% else %>

      <%= link_to 'View my bookings', bookings_path, :class => "btn btn-info" %>

    <%= link_to "Check all our parking spots !", parking_spots_path, :class => "btn btn-info" %>
  <% end %>


  <h2>Your parking slots</h2>


  <%= link_to "Create a Parking spot", new_parking_spot_path, :class => "btn btn-info" %>

  <% if @user.parking_spots.empty? %>
    <p>You don't have any parking spots</p>
  <% else %>
    <% @user.parking_spots.each do |parking_spot| %>
    <hr>
      <div class="row">
        <div class="col-md-4">
          <h5 style="text-align: left;padding-left: 150px;">Price: <%= parking_spot.price %></h5>
          <h5 style="text-align: left;padding-left: 150px;">City: <%= parking_spot.city %></h5>
          <h5 style="text-align: left;padding-left: 150px;">Country: <%= parking_spot.country %></h5>
          <%= link_to "Edit", edit_parking_spot_path(parking_spot), :class =>"btn btn-danger" %>
        </div>

        <div class="col-md-4">
          <h5 style="text-align: left;padding-left: 100px;">Address: <%= parking_spot.street_address %></h5>
          <h5 style="text-align: left;padding-left: 100px;">Number of spots: <%= parking_spot.number_of_spots %></h5>
          <h5 style="text-align: left;padding-left: 100px;">Description: <%= parking_spot.description %></h5>
          <%= link_to "Delete", parking_spot_path(parking_spot), {class: "btn btn-danger", method: :delete } %>
        </div>

        <div class="col-md-4">
          <%= cl_image_tag parking_spot.photo, height: 130, width: 300, crop: :fill %>
        </div>

      </div>
      <hr>
    <% end %>
  <% end %>

<br><br>
<br>

