<div class='container'>
  <h1>Hello <%= @user.email %>?</h1>
  <p>Here is where users may book or offer parking spots!!!</p>
  <!-- list users bookings -->
  <h2>Your bookings</h2>

  <% if @user.bookings.empty? %>
    <p>You haven't booked any parking spots</p>
  <% else %>
    <%= @user.bookings.each do |booking| %>

    <% end %>
  <% end %>

  <h5><%= link_to "Create a Parking spot", users_path %></h5>
  <% if @user.parking_spots.empty? %>
    <p>You don't have any parking spots</p>
  <% else %>
    <% @user.parking_spots.each do |parking_spot| %>
      <p><%= parking_spot.street_address %></p>
      <%= link_to "Edit", edit_user_registration_path(@user, parking_spot) %>

    <% end %>
  <% end %>
