<div class="wrapper" style="min-height: 77vh !important;height: 77vh !important;">
    <div class="sidebar">


      <div class="sidebar-wrapper">
            <div class="logo">
                <a  class="simple-text">
                    Dashboard
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <p>Analytics</p>
                    </a>
                </li>
                <li>
                    <%= link_to parking_spots_path do %>
                        <p>Book A Place</p>
                    <% end %>
                </li>
                <li>
                  <%= link_to bookings_path do %>
                    <p>View My Bookings</p>
                  <% end %>
                </li>
                <li>
                  <%= link_to management_path do %>
                    <p>Manage My Parkings</p>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_parking_spot_path do %>
                    <p>Create A Parking Spot</p>
                  <% end %>
                </li>
            </ul>
      </div>
  </div>

    <div class="main-panel">
          <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" style="height:600px">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"></h4>
                                <p class="category"></p>
                            </div>
                            <h2 style="text-align:center;font-weight: 500;font-family: Lato;padding-bottom: 13px;">Parking Spot</h2>
                            <div class="content">

                              <div class="col-md-6" style="padding-bottom: 45px;">
                                <div style="border:1px solid #f3e3e3;padding-left: 7px;padding-right: 7px;">
                                  <h4 class="title text-center" style="color: #5f5b63;font-family: lato;">Count</h4>
                                  <p class="text-center"><%= @user.parking_spots.count %></p>
                                </div>
                              </div>

                              <div class="col-md-6" style="padding-bottom: 45px;">
                                <div style="border:1px solid #f3e3e3;padding-left: 7px;padding-right: 7px;">
                                  <h4 class="title text-center" style="color: #5f5b63;font-family: lato;">Books Count</h4>
                                  <% array_of_days = @user.parking_spots.map do |p| %>
                                    <% p.bookings.sum(:number_of_days) %>
                                  <% end %>
                                    <p class="text-center">
                                      <%= array_of_days.inject(:+) %>
                                    </p>

                                </div>
                              </div>


                                <div class="col-md-6" style="padding-bottom: 45px;">
                                  <div style="border:1px solid #f3e3e3;padding-left: 7px;padding-right: 7px;">
                                    <h4 class="title text-center" style="color: #5f5b63;font-family: lato;">Cash Earned</h4>
                                    <% array_of_price = @user.parking_spots.map do |p| %>
                                      <% p.bookings.sum(:total_price) %>
                                    <% end %>
                                    <p class="text-center">$<%= array_of_price.inject(:+).to_i %></p>
                                  </div>
                                </div>

                                <div class="col-md-6" style="padding-bottom: 45px;">
                                  <div style="border:1px solid #f3e3e3;padding-left: 7px;padding-right: 7px;">
                                    <h4 class="title text-center" style="color: #5f5b63;font-family: lato;">Transactions Count</h4>
                                    <% array_of_transaction = @user.parking_spots.map do |p| %>
                                      <% p.bookings.count %>
                                    <% end %>
                                    <p class="text-center"><%= array_of_transaction.inject(:+) %></p>
                                  </div>
                                </div>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <% a  = DateTime.now %>
                                        <% b = current_user.parking_spots.last.created_at %>
                                        <% c = a.to_date - b.to_date %>
                                        <i class="fa fa-clock-o"></i><%= pluralize(c.to_i, 'day') %> ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">

                            <div class="header">
                              <h4 class="title"></h4>
                              <p class="category"></p>
                            </div>
                            <h2 style="text-align:center;font-weight: 500;font-family: Lato;padding-bottom: 13px;">Booking</h2>
                            <div class="content">
                                <div class="col-md-6" style="padding-bottom: 45px;">
                                  <div style="border:1px solid #f3e3e3;padding-left: 7px;padding-right: 7px;">
                                    <h4 class="title text-center" style="color: #5f5b63;font-family: lato;">Cash Earned</h4>
                                    <p class="text-center">$<%= current_user.bookings.sum(:total_price).to_i %></p>
                                  </div>
                                </div>

                                <div class="col-md-6" style="padding-bottom: 45px;">
                                  <div style="border:1px solid #f3e3e3;padding-left: 7px;padding-right: 7px;">
                                    <h4 class="title text-center" style="color: #5f5b63;font-family: lato;">Transactions Count</h4>
                                    <p class="text-center"><%= current_user.bookings.count %></p>
                                  </div>
                                </div>




                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <% e  = DateTime.now %>
                                        <% f = current_user.bookings.last.created_at %>
                                        <% cg= e.to_date - f.to_date %>
                                        <i class="fa fa-history"></i> Updated <%= pluralize(cg.to_i, 'day') %> ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








