
<div class='text-center profile-background-color'>
  <div class="dashboardw">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="dashboard-userpicture">
          <% if current_user.avatar_url %>
            <%= cl_image_tag current_user.avatar, class: "avatar-verylarge" %>
          <% elsif current_user.facebook_picture_url %>
            <%= image_tag current_user.facebook_picture_url, class: "avatar-large" %>
          <% else %>
            <%= image_tag "http://placehold.it/30x30", class: "avatar-verylarge" %>
          <% end %>
          <h3>Hello <%= @user.email %></h3>
          <h4>Welcome to your Dashboard</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="dashboard-buttons">
          <%= link_to "Book a place!", parking_spots_path, :class => "btn btn-info"  %>
          <%= link_to 'View my bookings', bookings_path, :class => "btn btn-info" %>
          <%= link_to 'Manage my parkings', management_path, :class => "btn btn-info" %>
          <%= link_to "Create a Parking spot", new_parking_spot_path, :class => "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>


<br>

