<section id="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="slider-text-area text-center">
                                <div class="slider-text">
                                    <%#= link_to "Check All Parking Spots", parking_spots_path %>
                                    <p class="sub-slider-text" style="padding-bottom:20px">Find your perfect parking space</p>


                                    <form action='/search' id='form_container' class='form-inline'>
                                      <div class='form-group'>
                                        <label for='search'><label>
                                        <input id="search_box" type='text' name='search' class='form-control' placeholder= 'Where to park?'>
                                        <input class="btn btn-success" type='submit' value='Search' >
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #slider close -->
 <div class="container-fluid text-center how-create" style="background: rgb(67,7,181);">
  <h1><strong>On-demand parking in Beirut!</strong></h1>
  <div class="row ">
    <div class="mt3">
      <div class="col-lg-4">
        <%= image_tag 'direction.svg', class:"home-picture-big-create" %>
        <h2> <strong> Tap and park </strong></h2>
        <p> Find a driveyway, car park or any other empty space where you car can fit ! </p>
      </div>
      <div class="col-lg-4">
        <%= image_tag 'rate.svg', class:"home-picture-big-create" %>
        <h2> <strong> Lower rate </strong></h2>
        <p> Lower rates since we use underutilized parking spaces</p>
      </div>
      <div class="col-lg-4">
        <%= image_tag 'simple.svg', class:"home-picture-big-create" %>
        <h2> <strong> Easiness </strong></h2>
        <p> We make it easy for you to find the perfect space</p>
      </div>
    </div>
  </div>
</div>

<div class="text-center my4">
  <h2><strong>Have a spot? List it and earn when it's empty</strong></h2>
  <%= link_to "Start earning now", new_parking_spot_path, class:"rent-button btn btn-primary" %>
</div>

<%= render "parking_spots/whyrent" %>
