<div class="container text-center">
  <div>
  <h3>Edit your parking spot:</h3> </div>

  <div class="internal_structure">
  <div class="top_form text-center">
    <%= simple_form_for(@parking_spot) do |f| %>
    <table class="table">
      <tr>
        <td>  <%= f.label :street_address %> </td>
        <td> <%= f.text_field :street_address %> </td>
      </tr>
      <tr>
        <td><%= f.label :city %></td>
        <td><%= f.text_field :city %></td>
      </tr>
      <tr>
        <td><%= f.label :country %></td>
        <td><%= f.text_field :country %></td>
      </tr>
      <tr>
        <td><%= f.label :price %></td>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <td><%= f.label :number_of_spots %></td>
        <td><%= f.text_field :number_of_spots %></td>
      </tr>
      <tr>
        <td><%= f.label :description %></td>
        <td><%= f.text_field :description %></td>
      </tr>
      <tr>
        <td><%= f.input :photo %></td>
        <td><%= f.input :photo_cache, as: :hidden %></td>
      </tr>
      </table>
      <%= f.submit %>

    <% end %>
  </div>
</div>
</div>

