<div class="container text-center">
  <h1><%#= link_to "Create a Parking Spot", new_article_path %></h1>
  <div class="contentt">
    <% @parking_spots.each do |parking| %>

      <hr>
      <h2><%= link_to parking.street_address %></h2>
      <p><%= parking.description %></p>
      <p><%= parking.city %></p>
      <p><%= parking.country %></p>
      <p><%= parking.price %></p>
      <p><%= parking.number_of_spots %></p>
      <%= link_to 'Book now!',  new_parking_spot_booking_path(parking) %>

      <hr>


    <% end %>

  </div>
</div>
