<div class="container text-center">
<div class="structure">
  <h1><%#= link_to "Create a Parking Spot", new_article_path %></h1>
  <div class="content">
    <% @parking_spots.each do |parking| %>
    <div class="subcontent">
      <hr>

      <div class="important_info">
         <p class="index_parking_adress"><%= parking.street_address %></p>
         <p class="index_parking_price"><%= parking.price %></p>
        <p class="index_parking"><%= parking.description %></p>
        <p class="index_parking"><%= parking.city %></p>
        <p class="index_parking"><%= parking.country %></p>
        <p class="index_parking"><%= parking.number_of_spots %></p>
        <p class="index_parking"><%= link_to parking.street_address %></p>


        <%= link_to 'Book now!',  new_parking_spot_booking_path(parking) %>
      <hr>
      </div>
    </div>
    <% end %>
  </div>
    <div id="map" class="map_structure" style="width: 100%; height: 600px;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).on('ready', function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
    <% end %>
  <% end %>
  </div>
</div>
