<div class="container text-center">
  <div class="content">
    <p>description: <%= @parking_spot.description %></p>
    <p>city: <%= @parking_spot.city %></p>
    <p>country: <%= @parking_spot.country %></p>
    <p>price: <%= @parking_spot.price %></p>
    <p>number of spots: <%= @parking_spot.number_of_spots %></p>
    <%= cl_image_tag @parking_spot.photo, height: 300, width: 400, crop: :fill %>
    <h4><%= link_to "Back", profile_path %></h4>
    <h4><%= link_to "Edit", edit_parking_spot_path(@parking_spot) %></h4>
    <h4><%= link_to "Delete", parking_spot_path(@parking_spot), method: :delete %></h4>
  </div>
</div>

<div class="container">
<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(
          [{
            "lat": <%= @parking_spot.latitude %>,
            "lng": <%= @parking_spot.longitude %>
          }]
        );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
</div>

