<div class="container text-center">
  <h3><%= @parking_spot.street_address %></h3>
  <% ba = @parking_spot.user_id %>
  <div class="content col-md-6" style="padding-left: 150px">
    <p style="text-align: left"><strong>Address:</strong> <%= @parking_spot.street_address %></p>
    <p style="text-align: left"><strong>Description:</strong> <%= @parking_spot.description %></p>
    <p style="text-align: left"><strong>City:</strong> <%= @parking_spot.city %></p>
    <p style="text-align: left"><strong>Country:</strong> <%= @parking_spot.country %></p>
    <p style="text-align: left"><strong>Price:</strong> <%= @parking_spot.price %></p>
    <p style="text-align: left"><strong>Number of spots:</strong> <%= @parking_spot.number_of_spots %></p>
    <button><%= link_to "Back", profile_path %></button>
    <button><%= link_to "Edit", edit_parking_spot_path(@parking_spot) %></button>
    <button><%= link_to "Delete", parking_spot_path(@parking_spot), method: :delete %></button>


    <h2>Bookings</h2>
    <% @parking_spot.bookings.each do |booking| %>
      <p>Booking at: <%= booking.id %></p>
    <% end %>

    <% if current_user.id == @parking_spot.user_id %>

      <div id="pending">
        <h3>Pending</h3>
        <% @parking_spot.bookings.pending.each do |booking| %>
        <div class="booking-<%= booking.id %>">
          <p>
            <%= link_to accepted_booking_path(booking), remote: true, class: "booking-confirm-#{booking.id}" do %>
              Confirmed
            <% end %>
          </p>
          <p>
            <%= link_to rejected_booking_path(booking), remote: true, class: "booking-cancel-#{booking.id}" do %>
              Cancelled
            <% end %>
          <p>
        </div>
        <% end %>
      </div>
      <div class="confirm">
        <h3>Booking Comfirm</h3>
          <% @parking_spot.bookings.accepted.each do |booking| %>
            <p>
              <%= link_to rejected_booking_path(booking), remote: true, class: "booking-cancel-#{booking.id}" do %>
                Cancelled
              <% end %>
            <p>
          <% end %>
      </div>
      <div class="cancel">
        <h3>Booking Cancel</h3>
        <% @parking_spot.bookings.rejected.each do |booking| %>
          <p>
            <%= link_to accepted_booking_path(booking), remote: true, class: "booking-confirm-#{booking.id}" do %>
              Confirmed
            <% end %>
          <p>
        <% end %>
      </div>
    <% end %>






    <h2>Reviews</h2>
    <% @parking_spot.reviews.each do |review| %>
      <p><%= review.description %></p>
      <p>
        <% review.rating.times do %>
          <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
      </p>
    <% end %>
    <%= cl_image_tag @parking_spot.photo, height: 300, width: 400, crop: :fill %>
  </div>

  <div class="col-md-6">
    <div id="map" style="width: 100%; height: 600px;"></div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(
          [{
            "lat": <%= @parking_spot.latitude %>,
            "lng": <%= @parking_spot.longitude %>
          }]
        );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(18);
        }
      });

  <% end %>
<% end %>

<br><br>


