<div class="container text-center">
  <div class="content">
    <p>description: <%= @parking.description %></p>
    <p>city: <%= @parking.city %></p>
    <p>country: <%= @parking.country %></p>
    <p>price: <%= @parking.price %></p>
    <p>number of spots: <%= @parking.number_of_spots %></p>
    <p>street address: <%= @parking.street_address %></p>
  </div>
</div>
