<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Parking Find</title>

    <%= favicon_link_tag 'icon.png', rel: 'shortcut icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">



    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='<%= controller_name %> <%= action_name %>'>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%#= render 'shared/notifications' %>

    <%= yield %>
    <%= render 'shared/footer' %>

    <% unless user_signed_in? %>
      <%= render 'layouts/login' %>
    <% end %>

    <%= yield(:after_js) %>
  </body>
</html>

