<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <style type="text/css">
      body{
            height: 65px;
      }
      p.text-center {
    padding-top: 18px;
}
.avatar {

    width: 50px;
    height: 50px;
}
#back{
      background-image: url("http://www.tessituraguenzani.com/images/architecture-of-a-house-parking-garage-interior-design.jpg ");
      background-size: cover;
      background-repeat: no-repeat;
}
#hey:hover{
  color: #8e8b8c !important ;
  text-decoration: none !important;
      -webkit-transition: all 1s ease;
    transition: all 1s ease;

}
#hey{
      -webkit-transition: all 1s ease;
    transition: all 1s ease;

}
a{
  -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
a:hover{
  position: relative;
  left: 10px;
  text-decoration: none !important;
      -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class='contai' style="height: 600px;" id="back">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
   <%= yield(:after_js) %>
    <div class="footer" style="background-color: grey;height: 100%;">
      <p class="text-center" style="color: white">
© 2016 Parkings Find</p>
    </div>
  </body>
</html>
